{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
CART
{% endblock %}
{% block title %}
Cart - Shoppers Corner
{% endblock %}
{% block content %}
{% if not cart_items %}
<div>
    <div>
        <br>
        <h1 class="text-center my_title"> Your Shopping Cart is Empty</h1>
        <br>
        <p>Please click <a href="{% url 'shop:allProdCat' %}">Here</a> to continue shopping</p>
    </div>
</div>
{% else %}
<div>
    <div class="text-center">
        <h1 class="text-center my_title">
            Your Shopping Cart
        </h1>
    </div>
</div>
<div class="row mx-auto">
    <div class="col-12 col-sm-12 col-lg-6 text-center">
        <table class="table my_custom_table">
            <thead class="my_custom_thead">
            <tr>
                <th colspan="5">Your Items</th>
            </tr>
            <tr>
                <td>Item</td>
                <td>Description</td>
                <td>Price</td>
            </tr>
            </thead>
            <tbody>
            {% for cart_item in cart_items %}
            <tr>
                <td>
                    <a href="cart_item.product.get_absolute_url"><img src="{{cart_item.product.image.url}}" alt="" class="float-left rounded custom_image" style="width: 150px;
                </td>                                                                                                                                                      height: 150px;object-fit:contain; padding:20px;"></a>
                <td class="text-left" style="padding-top:30px;">
                    {{cart_item.product.name}}
                    <br>
                    Price: {{cart_item.product.price }}
                    <br>
                    Quantity: {{cart_item.quantity}}
                </td>
                <td style="padding-top:30px;">
                    {{cart_item.sub_total}}
                </td>
                {% if cart_item.quantity < cart_item.product.stock %}
                <td  style="padding-top:30px;">
                    <a href="{% url 'cart:add_cart' cart_item.product.id %}"><img src="{% static 'img/plus.png' %}" alt="add to cart" width="20px"></a>
                    &nbsp;<a href="{% url 'cart:cart_remove' cart_item.product.id %}"><img src="{% static 'img/minus.png' %}" alt="remove from cart" width="20px"></a>
                    &nbsp;<a href="{% url 'cart:cart_delete' cart_item.product.id %}"><img src="{% static 'img/delete.png' %}" alt="remove from cart" width="20px"></a>
                </td>
                {% else %}
                <td style="padding-top:30px;">
                    &nbsp;<a href="{% url 'cart:cart_remove' cart_item.product.id %}"><img src="{% static 'img/minus.png' %}" alt="remove from cart" width="20px"></a>
                    &nbsp;&nbsp;<a href="{% url 'cart:cart_delete' cart_item.product.id %}"><img src="{% static 'img/delete.png' %}" alt="remove from cart" width="20px"></a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
        <table class="table my_custom_table">
            <thead class="my_custom_thead">
            <tr>
                <th>
                    Checkout
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    Please review your shopping cart items before proceeding with the order payment.
                </td>
            </tr>
            <tr>
                <td class="text-left">
                    Your total is : <strong>{{ total }}</strong>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="mx-auto">
            <a href="{% url 'shop:allProdCat' %}" class="btn btn-secondary btn-block my_custom_button">Continue Shopping</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
